@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

$primary-color: #b2edb3;

@mixin font($weight) {
  font-family: "HK Grotesk", sans-serif;
  font-weight: $weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  @include font(600);
  box-sizing: border-box;
}

.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
.dark-mode {
  background-color: #1f1f2e;
  color: #fbfbfb;
}

button {
  padding: 0.5rem;
  border-radius: 50px;
  letter-spacing: 1px;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: "HK Grotesk Bold";
  margin: 0.3rem;
}

.selected {
  background: $primary-color;
  border: 1px solid $primary-color;
}

.search-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-nav-copy {
  margin-right: 1rem;
}

.map-placeholder {
  background: #eee;
  height: 345px;
}

.hero-content,
.data-live {
  padding: 0 2rem;
}

.question {
  font-size: 2rem;
}

.data-live,
.data-day {
  text-align: center;
}

.data-live-visual {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-day {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  position: relative;
}