
@import './base';
@import './about.module';
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

$primary-dark: #1f1f2e;
$secondary-dark: #212234;
$light-green: #b2edb3;
$dark-green: #4eb68e;
$light-grey: #f6f6f6;
$white: #fbfbfb;

@mixin font($weight, $size) {
  font-family: "HK Grotesk", sans-serif;
  font-weight: $weight;
  font-size: $size;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h3 {
  font-size: 2rem;
  line-height: 1.2;
}

body {
  @include font(600, 1rem);
}

h4 {
  @include font(600, 1.2rem);
  margin-bottom: 1.5rem;
}

.question {
  text-align: center;
}

.active-link-dark {
  padding: 0.5rem 0 0.5rem;
  color: $white;
}

.active-link {
  padding: 0.5rem 0 0.5rem;
  color: $primary-dark;
}

.light-mode {
  background-color: $white;
  color: $primary-dark;
  border-color: $primary-dark;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: $primary-dark;
  color: $white;
  border-color: $white;
}

button {
  @include font(700, 1rem);
  padding: 0.5rem;
  border-radius: 50px;
  letter-spacing: 1px;
  border: 1px solid $primary-dark;
  text-transform: uppercase;
  margin: 0.3rem;
  cursor: pointer;
  background: transparent;
}

.selected {
  background: $light-green;
  border: 1px solid $light-green;
}

.search-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-nav-copy {
  margin-right: 1rem;
}

.map-placeholder {
  background: $light-grey;
  height: 345px;
}

.gradient {
  background: linear-gradient(181deg, rgba(251, 251, 251, 0) 50%, $white 76%);
  width: 100vw;
  height: 115px;
  transform: translateY(-100%);
  pointer-events: none;

  &.light-mode {
    background: linear-gradient(181deg, rgba(251, 251, 251, 0) 50%, $white 76%);
  }

  &.dark-mode {
    background: linear-gradient(181deg, rgba(251, 251, 251, 0) 50%, $primary-dark 76%);
  }
}

.hero-content,
.data-live {
  padding: 0 2rem;
  margin-top: 4rem;
}


.data-live,
.data-day {
  text-align: center;
  margin: 6rem 0;
}

.data-live {
  margin: 5rem 0;
}

.data-live-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.data-live-value {
  position: absolute;
  color: $primary-dark;
  z-index: 9;
  @include font(700, 1.5rem);
}

.circle {
  background: $light-grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.level {
  width: 100%;
  bottom: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.8s ease-in-out;
  background: $light-green;
}

.data-day {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  position: relative;
}

.day-statistics {
  text-align: center;
  line-height: 1.3;
  margin-bottom: 7rem;
}

.day-statistics span {
  @include font(700, 1rem);
}

.day-statistics-element {
  margin-bottom: 0.8rem;
}
