@import './base';
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

$primary-dark: #1F1F2E;
$secondary-dark: #212234;
$light-green: #b2edb3;
$dark-green: #4EB68E;
$light-grey: #F6F6F6;
$white: #FBFBFB;



@mixin font($weight, $size) {
  font-family: "HK Grotesk", sans-serif;
  font-weight: $weight;
  font-size: $size;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

:root {
  font-size: 16px;
}

body {
  @include font(600, 1rem);
}

h4 {
  @include font(600, 1.2rem)
}

.active-link-dark {
  border-top: 5px solid;
  padding: 0.5rem 0 0.5rem;
  color: #fff;
}

.active-link {
  border-top: 5px solid;
  padding: 0.5rem 0 0.5rem;
  color: #333;
}

.light-mode {
  background-color: $white;
  color: $primary-dark;
  border-color: $primary-dark;
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: $primary-dark;
  color: $white;
  border-color: $white;
}

button {
  @include font(700, 1rem);
  padding: 0.5rem;
  border-radius: 50px;
  letter-spacing: 1px;
  border: 1px solid $primary-dark;
  text-transform: uppercase;
  margin: 0.3rem;
  cursor: pointer;
}

.selected {
  background: $light-green;
  border: 1px solid $light-green;
}

.search-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-nav-copy {
  margin-right: 1rem;
}

.map-placeholder {
  background: $light-grey;
  height: 345px;
}

.hero-content,
.data-live {
  padding: 0 2rem;
}

.question {
  font-size: 2rem;
  text-align: center;
}

.data-live,
.data-day {
  text-align: center;
  margin: 4rem 0;
}

.data-live-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.data-live-value {
  position: absolute;
  @include font(700, 1.5rem);
}

.circle {
  background: $light-grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.data-day {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  position: relative;
}
