.container {
  input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1rem;
    border-radius: none;
  }
}

.popover {
  z-index: 10;
  background: transparent;
  [data-reach-combobox-option][aria-selected="true"] {
    background: rgba(234, 245, 255, 0.657);
    color: #333;
  }
}

.list {
  border-bottom: 1pt solid;
  padding: 1rem;
  &:hover {
    background: rgba(234, 245, 255, 0.657);
    color: #333;
  }
}
