.placeholder {
  position: absolute;
}

.label {
  border-radius: 0 40px 40px 40px;
  text-align: center;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  margin: 5px 0 0 15px;
}

.point {
  width: 15px;
  height: 15px;
  border-radius: 40px;
}
